##### 參考文件
https://pypi.org/project/geopy/

##### 安裝套件

In [2]:
pip install geopy

Collecting geopy
  Downloading geopy-2.0.0-py3-none-any.whl (111 kB)
Collecting geographiclib<2,>=1.49
  Downloading geographiclib-1.50-py3-none-any.whl (38 kB)
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.0.0
Note: you may need to restart the kernel to use updated packages.

##### 引用套件

In [30]:
from geopy.geocoders import Nominatim
from geopy.distance import great_circle
import pandas as pd
import numpy as np

## 房屋地址與捷運距離

In [31]:
mrt = pd.read_csv('D:\\資策會期末專題資料\\房地產\\捷運\\新增資料夾\\mrt_with_gps.csv')

In [32]:
mrt['gps'] = mrt['lat'].round(6).astype('str') + ',' + mrt['lon'].round(6).astype('str')

In [33]:
taipei = pd.read_csv('D:\\資策會期末專題資料\\房地產\\591\\台北市中古屋爬蟲\\591_台北中古屋房價\\給ML組\\Taipei_591_ML_8500_14col.csv')

In [34]:
mrt_gps = mrt['gps'].tolist()
mrt_station = mrt['車站名稱'].tolist()

In [35]:
taipei_gps = taipei['WGS84'].unique().tolist()

In [36]:
df = pd.DataFrame(np.zeros((len(taipei_gps),len(mrt_gps))),columns=mrt_station)

In [37]:
n=0
for j in mrt_gps:
    test=[]
    for i in taipei_gps:
        d = great_circle(i,j).km
        test.append(d)
    df.iloc[:,n] = pd.Series(test,dtype=float)
    n+=1

In [38]:
df = df.round(2)

In [39]:
df.index = pd.Series(taipei_gps)

In [40]:
mrt=[]
for k in range(len(taipei_gps)):
    r = []
    r = df.iloc[k]
    w = any(r.values <= 1.0)
    mrt.append(w)

In [41]:
taipei['MRT'] = taipei['WGS84'].replace(taipei_gps,mrt)

In [42]:
taipei['MRT'] = taipei['MRT'].astype('int')

In [43]:
taipei = taipei.drop(['WGS84'],axis=1)

In [45]:
taipei = taipei.drop(['main use_Now_usage.1'],axis=1)

In [49]:
taipei.to_csv('D:\\資策會期末專題資料\\房地產\\591\\台北市中古屋爬蟲\\591_台北中古屋房價\\給ML組\\Taipei_591_ML_mrt_without_Now_usage_8500_13col.csv', index = False, encoding='utf-8')

In [47]:
taipei.rename(columns={'main use_Now_usage':'main use'},inplace=True)

In [48]:
taipei

,district,unit price,building state,main use,pattern - room,pattern - hall,pattern - health,shifting level,total level,house age,total building area,Ma organization,MRT
0,41,1145600.0,2,1,5,3,3,2,7,168,285.290540,1,1
1,38,849800.0,1,1,3,2,2,3,18,12,136.132844,0,1
2,38,858100.0,1,1,4,2,2,3,18,12,245.852346,0,1
3,38,863500.0,2,1,4,2,2,2,10,120,216.298494,1,1
4,38,806200.0,2,1,2,2,1,2,7,36,103.802120,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
8495,37,683300.0,1,3,1,1,1,2,12,264,57.091166,1,1
8496,37,1175200.0,2,1,3,2,2,2,7,132,238.348180,1,1
8497,37,1017600.0,1,1,2,2,2,2,15,120,301.786482,1,1
8498,37,1001400.0,2,1,2,1,1,2,10,48,114.050100,1,1
8499,37,687700.0,2,1,1,1,1,2,7,144,64.396984,1,1

In [20]:
(taipei['MRT']==0).sum()

975